/* css reset */
html,
body {
	padding: 0;
	margin: 0;
}

table {
	border-collapse: collapse;
}

/* style */
html {
	font-family: Roboto, sans-serif;
}

#content {
	padding: 1em;
}

div.line-charts svg {
	display: table-cell; /* remove small gap */
}

div.line-charts rect {
	fill: none;
}

tr:nth-child(even) {
	background-color: #f9f9f9;
}

/* charts */
.chart {
	font-size: 10px;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.line {
  fill: none;
  stroke-width: 2px;
}
